<%- include("template/header") %>
    <div id="gamesSpecificContent">
        <h1><%= gamename %></h1>
        <div class="gameContainer">
            <div class="gameView">
                <!-- <div id="gameSquare"><script src="<%= link %>"></script></div> -->
                <script src="https://www.twoplayergames.org/embed/soccer-physics"></script>
            </div>
            <div class="gameDesc"><p><%= desc %></p></div>
            <div class="helpButton">Help</div>
        </div>
    </div>

    <div id="helpOverlay" class="overlay">
        <div class="overlay-content">
            <span class="close" onclick="closeHelpOverlay()">&times;</span>
            <p><%- include("gameRules/" + rules) %></p>
        </div>
    </div>

<script src="/js/gamesSpecific.js"></script>
<%- include("template/footer") %>